input{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    margin-top: 20px;

    height: 20px;

    
}

#result{
    display:grid;

    grid-template-columns: repeat(4,auto);

}