#navbar{
    display: flex;
    border: 1px solid black;
    margin-bottom: 20px;
}
#navbar>p{
    margin-left: 20px;
    color: blue;
    font-weight: bold;
    background-color: rgb(236, 177, 187);
}
#stuid{
    width: 200px;
    height: 430px;
    border: 5px solid black;
    margin: auto;
}
h1{
    text-align: center;
    color: red;
   
}
#stuid>p{
    text-align: center;
}
#stuid>input{
    margin-left: 14px;
}
#btn{
    margin-top: 20px;
   
}