#results {
    width: 90%;
    margin: auto;
  }
  .news {
    display: flex;
    margin-bottom: 10px;
  }
  .news > img {
    height: 200px;
    width: 300px;
    margin-right: 20px;
  }
  #sidebar {
    height: 300px;
    text-align: center;
  }
  