#navbar{
    justify-content: space-between;
    height:70px;
    width:100%;
    background-color: aqua;
    font-size: 20px;
     display:flex;
     margin: auto;
}
#navbar>div{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}