
#navbar{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}
a{
  text-decoration: none;
  align-items: center;
  display: flex;
}
.sign{
  text-align: center;
  margin-top:20px;
  margin-bottom: 30px;
  width: 100%;
  
}
#forms{
  /* margin: 20px; */
  margin-top: 40px;
  text-align: center;
  margin: auto;
  width: fit-content;
  padding: 20px;
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(229, 200, 155);
}
#forms>input{
  margin-top: 10px;
}

